* {
    margin: 0;
    padding: 0;
}

img {
    height: 300px;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav li {
    list-style: none;
    color: grey;
    justify-content: space-between;
    height: 50px;
    /*border-right: 1px dotted grey;*/
    /*padding-right: 55px;*/
    /*border-left: 1px dotted grey;*/
    /*padding-left:  40px;*/
}

nav a {
    text-decoration: none;
    color: grey;
}
nav a:hover {
    color: red;
}

nav li:last-of-type {
    border-right: none;
}

nav li:first-of-type {
    border: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

.left-col {
    display: flex;
    justify-content: space-around;
}

.para1,
.para2 {
    border: 1px solid black;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: 0;
    }
}

#slider {
    overflow: hidden;
}

#slider img {
    width: 25%;
    flex: 1 1 25%;
    height: 300px;
}

#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    display: flex;
    animation: 5s slider infinite;
}

.section img {
    height: 30px;
    width: 30px;
}