* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
}

header {
  border-radius: 0;
}

.call-out {
  border: none;
  border-radius: 0;
}
#careers {
  display: none;
}
label[for="toggle"]{
  font-size: 2em;
  display: inline;
  position: absolute;
  top:100px;
  left: 25px;
}
#toggle {
  display: none;
}


nav ul{
  flex-direction: column;
  padding: 0;
}
nav li {
  flex: 1 1 100%;
  width: 100px;
  padding: 1em;
  text-align: center;
  justify-content: center;

}

nav a[href="#careers"] {
  display: none;
}
.left-col {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.left-col p {
    width: 100%;
    padding:5px;
}


.overlay {
  font-size: .8em;
}
footer .row {
  flex-direction: column;
}
footer .column {
  padding: 1em .1em .1em .1em;
  flex: 1 1 auto;
  align-self: stretch;
  padding-bottom: 1em;
  border-bottom: 1px dashed white;
}
footer h3 {
  margin-bottom: 5px;
  font-size: 1.5em;
  text-align: center;
}
footer li {
  padding-left: 1em;
  font-size: 1.5em;
  /*text-align: center;*/
  border: none;
}
